In [ ]:
Module 4 - Working with Data in Python

Reading files with open

Lab - Reading Files (External resource)

In [ ]:
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")

<hr>

<h2 id="read">Reading Text Files</h2>

In [3]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [4]:
# Print the path of file

file1.name

'Example1.txt'

The mode the file object is in:

In [5]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [6]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

The **/n** means that there is a new line.

We can print the file:

In [7]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

The file is of type string:

In [8]:
# Type of file content

type(FileContent)

str

It is very important that the file is closed in the end. This frees up resources and ensures consistency across different python versions.

In [9]:
# Close file after finish

file1.close()

<hr>

<h2 id="better">A Better Way to Open a File</h2>

Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [10]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

The file object is closed, you can verify it by running the following cell:

In [11]:
# Verify if the file is closed

file1.closed

True

We can see the info in the file:

In [12]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

The syntax is a little confusing as the file object is after the <code>as</code> statement. We also don’t explicitly close the file. Therefore we summarize the steps in a figure:

We don’t have to read the entire file, for example, we can read the first 4 characters by entering three as a parameter to the method **.read()**:

In [13]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

Once the method <code>.read(4)</code> is called the first 4 characters are called. If we call the method again, the next 4 characters are called. The output for the following cell will demonstrate the process for different inputs to the method <code>read()</code>:

In [14]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

The process is illustrated in the below figure, and each color represents the part of the file read after the method <code>read()</code> is called:

Here is an example using the same file, but instead we read 16, 5, and then 9 characters at a time:

In [15]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

We can also read one line of the file at a time using the method <code>readline()</code>:

In [16]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

We can also pass an argument to <code> readline() </code> to specify the number of charecters we want to read. However, unlike <code> read()</code>, <code> readline()</code> can only read one line at most.

In [17]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

We can use a loop to iterate through each line:

In [18]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

We can use the method <code>readlines()</code> to save the text file to a list:

In [19]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

Each element of the list corresponds to a line of text:

In [20]:
# Print the first line

FileasList[0]

'This is line 1 \n'

# Print the second line

FileasList\[1]

In [21]:
# Print the third line

FileasList[2]

'This is line 3'

<h2 id="write">Writing Files</h2>

We can open a file object using the method <code>write()</code> to save the text file to a list. To write to a file, the mode argument must be set to **w**. Let’s write a file **Example2.txt** with the line: **“This is line A”**

In [1]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

We can read the file to see if it worked:

In [2]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

We can write multiple lines:

In [3]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

The method <code>.write()</code> works similar to the method <code>.readline()</code>, except instead of reading a new line it writes a new line. The process is illustrated in the figure. The different colour coding of the grid represents a new line added to the file after each method call.

In [4]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

We write a list to a **.txt** file  as follows:

In [5]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [6]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

We can verify the file is written by reading it and printing out the values:

In [7]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

However, note that setting the mode to **w** overwrites all the existing data in the file.

In [8]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

<hr>
<h2 id="Append">Appending Files</h2>

We can write to files without losing any of the existing data as follows by setting the mode argument to append: **a**.  you can append a new line as follows:

In [9]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

You can verify the file has changed by running the following cell:

In [10]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

<hr>
<h2 id="add">Additional modes</h2>

In [11]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

Now lets revisit **a+**

In [12]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

Finally, a note on the difference between **w+** and **r+**. Both of these modes allow access to read and write methods, however, opening a file in **w+** overwrites it and deletes all pre-existing data. <br>
To work with a file on existing data, use **r+** and **a+**. While using **r+**, it can be useful to add a <code>.truncate()</code> method at the end of your data. This will reduce the file to your data and delete everything that follows. <br>
In the following code block, Run the code as it is first and then run it with the <code>.truncate()</code>.

In [13]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

<h2 id="copy">Copy a File</h2>

Let's copy the file **Example2.txt** to the file **Example3.txt**:

In [14]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

We can read the file to see if everything works:

In [15]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

<h2> Exercise </h2>

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills. <br>
Given the file `currentMem`, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the `exMem` file. Make sure that the format of the original files in preserved.   (*Hint: Do this by reading/writing whole lines and ensuring the header remains* ) <br>
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the `cleanFiles` function.

In [16]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [17]:
  

def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]

            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    80670      2019-3-11    yes
    64445      2019-3-10    yes
    78290      2018-6-5     yes
    22987      2020-7-4     yes
    90043      2020-2-15    yes
    89881      2018-5-23    yes
    82559      2017-9-6     yes

Inactive Members:


Membership No  Date Joined  Active
    77646      2019-6-8     no
    67435      2019-11-6    no
    16227      2018-3-12    no
    46852      2020-7-1     no
    59401      2016-1-24    no
    51823      2017-3-3     no
    66181      2016-12-13   no
    54894      2016-8-14    no
    76142      2016-4-10    no
    38044      2020-5-25    no
    10325      2018-9-20    no
    45900      2019-3-7     no
    24123      2015-12-21   no
    99954      2020-12-9    no
    59212      2016-10-11   no
    35634      2015-1-19    no

Active Members:


Membership No  Date Joined  Active
    80670      2019-3-11    yes
    64445      2019-3-10    yes
    78290      2018-6-5     yes
    22987      2020-7-4     yes
    90043      2020-2-15    yes
    89881      2018-5-23    yes
    82559      2017-9-6     yes

Inactive Members:


Membership No  Date Joined  Active
    77646      2019-6-8     no
    67435      2019-11-6    no
    16227      2018-3-12    no
    46852      2020-7-1     no
    59401      2016-1-24    no
    51823      2017-3-3     no
    66181      2016-12-13   no
    54894      2016-8-14    no
    76142      2016-4-10    no
    38044      2020-5-25    no
    10325      2018-9-20    no
    45900      2019-3-7     no
    24123      2015-12-21   no
    99954      2020-12-9    no
    59212      2016-10-11   no
    35634      2015-1-19    no

In [18]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

In [ ]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

In [1]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])

In [2]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [3]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [4]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [5]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:

In [6]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

<h2 id="data">Viewing Data and Accessing Data</h2>

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [7]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

You can also get a column as a dataframe. For example, we can assign the column <b>Artist</b>:

In [8]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [9]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [10]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

You can access the 2nd row and the 1st column as follows:

In [11]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

You can access the 1st row and the 3rd column as follows:

In [12]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [13]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

You can access the column using the name as well, the following are the same as above:

In [14]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [15]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [16]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [17]:
# Access the column using the name

df.loc[1, 'Released']

1980

You can perform slicing using both the index and the name of the column:

In [18]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [19]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

<h2 id="quiz">Quiz on DataFrame</h2>

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [20]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [23]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating','Artist']]
q

   Rating           Artist
0    10.0  Michael Jackson
1     9.5            AC/DC
2     9.0       Pink Floyd
3     8.5  Whitney Houston
4     8.0        Meat Loaf
5     7.5           Eagles
6     7.0         Bee Gees
7     6.5    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [26]:
# Write your code below and press Shift+Enter to execute
df.iloc[1,2]

1980

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [27]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1.  Display the first three rows:

In [2]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2.  Obtain column  <code> 'a' </code>:

In [3]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [ ]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
a = df['a']==1
print(a)

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

1.  Find the unique values in column <code> 'a' </code>:

In [3]:
df['a'].unique()

array([1, 2], dtype=int64)

2.  Return a dataframe with only the rows where column <code> a </code> is less than two:

In [4]:
df['a']<2

0     True
1    False
2     True
Name: a, dtype: bool